@import 'responsive.less';
// Mixin
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 10px;
}
.day {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.clock {
    .time {
        font-size: 10rem;
        letter-spacing: 0.1em;
        vertical-align: bottom;
        align-content: center;
        align-self: flex-end;
    }
}
.act {
    .time-container {
        .time {
            font-weight: 700;
            letter-spacing: 0.1em;
            font-size: 1.15rem;
        }
    }
    .e-title {}
    .dj_name {
        color: rgb(255, 29, 141);
        letter-spacing: 0.05em;
        font-weight: 400;
    }
}
