body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.day {
  /* font-size: 3.5vw; */
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


.act {
    & > .time {
      font-weight: 500;
      /*font-size: 3.5vw;*/
    }
    .e-title {
    }

    .dj_name {
    /*  font-size: 5vw; */
      color: rgb(255, 29, 141);
    }
}
