:global {
    html {
        height: 100%;
        margin: 0;
        body {
            height: 100%;
            margin: 0;
        }
    }
    #app {
        overflow-x: hidden;
        background: #111;
        color: #299;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
    }

}
