.clock {
    display        : flex;
    justify-content: center;
    height         : 100%;
    flex           : 0 1 auto;
    padding-top: 56px;

    .time {
        font-size     : 10rem;
        letter-spacing: 0.1em;
        vertical-align: bottom;
        align-content : center;
        align-self    : center;
    }

}
