.stage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.day {
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding-bottom: 1vw;
  font-size     : 1.5rem;
  font-weight   : 600;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  .addAct {
    color: rgb(255,255,255);
  }
  .deleteStage {
    color: rgb(255, 255, 255);
    display:block;
    float: right;

  }
}
