.top {
    width     : 100%;
    background: white;
    flex      : 0 1 auto;

    .navButtons {
        font-size: 2em;
        float    : right;
        display  : inline;

        button {
            margin    : 5px 15px;
            border    : none;
            background: none;
        }
    }
}
